* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
#app {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

.main-container {
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  padding: 30px;

  @media (max-width: 372px) {
    padding: 8px;
  }
}
